<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
<table style="font-family: Open Sans; border-spacing: 0; font-size: 11px; line-height: 1.1">
  <tr>
    <td rowspan="8">
      <img src="https://i.postimg.cc/2SLPLgq4/logo-resized.png" alt="" width="110" height="110" />
    </td>
    <td rowspan="8">
      <div
        style="border: 2px solid #146F9E; border-radius: 4px; width: 0px; height: 110px; margin: 0 16px;"
      ></div>
    </td>
    <td style="color: #146F9E; font-size: 14px">
      {{ name }}
    </td>
  </tr>
  <tr>
    <td style="color: #1A1A1A">{{ position }}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <a href="https://tacta.io/">www.tacta.io</a>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><a href="tel:+38513535577">+385 1 3535 577</a></td>
  </tr>
  <tr>
    <td><a href="tel:+38733943912">+387 33 943 912</a></td>
  </tr>
</table>
