<div style="text-align:center">
  <h1>Welcome to Tacta signature maker!</h1>
  <img width="300" alt="Tacta Logo" src="https://i.postimg.cc/2SLPLgq4/logo-resized.png" />
</div>
<form>
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" [(ngModel)]="employe.name" />
  </div>

  <div>
    <label for="position">Position: </label>
    <input type="text" id="position" name="position" [(ngModel)]="employe.position" />
  </div>
</form>

<a [routerLink]="['signature', employe.name, employe.position]">Generate</a>
